@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #e9da0d;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.back-vid{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

@media (max-aspect-ratio: 16/9){
  .back-vid{
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9){
  .back-vid{
    width: 100%;
    height: auto;
  }
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #e9da0d;
    border-bottom: 3px solid #e9da0d;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #e9da0d;
        border-bottom: 3px solid #e9da0d;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #e9da0d;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #e9da0d;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    width: 900px;
    height: 450px;
    background-color: none;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px #e9da0d;
    transition: 0.5s;
}

.home-img img{
    position: relative;
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #e9da0d;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #e9da0d;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #e9da0d;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #e9da0d;
    box-shadow: 0  0 25px #e9da0d;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #e9da0d;
    font-weight: 600;
    border: 2px solid #e9da0d;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #e9da0d;
    color: black;
    box-shadow: 0 0 25px #e9da0d;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #e9da0d;
    animation: words 10s infinite;
}

.typing-text span::after{
    display: none;
}

@keyframes cursor{
    to{
        border-left: 3px solid #e9da0d;
    }
}

@keyframes words{
    0%, 100%{
        content: "Full Stack Developer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

.section-title {
    font-size: 4rem;
    color: #e9da0d;
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
}

.services, .skills, .education{
    background-color: black;
    padding: 6rem 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    text-align: center;
}

.service-boxes {
    display: flex;
    gap: 10rem;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    border: 2px solid #e9da0d;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    width: 28rem;
    color: white;
    transition: 0.3s ease;
}

.service:hover {
    transform: translateY(-5px);
    background-color: #1a1a1a;
    box-shadow: 0 0 15px #e9da0d;
}

.service i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #e9da0d;
}

.service h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.service p {
    font-size: 1.4rem;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    font-size: 1.8rem;
    color: white;
    max-width: 900px;
}

.skill-list span {
    background-color: #1a1a1a;
    border: 2px solid #e9da0d;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: 0.3s ease;
}

.skill-list span:hover {
    background-color: #e9da0d;
    color: black;
}

.edu-content, .exp-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.edu-box, .exp-box {
    background-color: #1a1a1a;
    padding: 2rem 3rem;
    border-radius: 1rem;
    border-left: 5px solid #e9da0d;
    width: 100%;
    max-width: 600px;
    transition: 0.3s ease;
}

.edu-box:hover, .exp-box:hover {
    box-shadow: 0 0 20px #e9da0d;
    transform: scale(1.02);
}

.edu-box h3, .exp-box h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #e9da0d;
}

.exp-box p {
    font-size: 1.4rem;
    color: #ccc;
}

.edu-box span {
    font-size: 1.4rem;
    color: #ccc;
}

.edu-box p{
    background-color: #1a1a1a;
    border: 2px solid #e9da0d;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: 0.3s ease;
    font-size: medium;
}

.edu-box p:hover {
    background-color: #e9da0d;
    color: black;
}

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.experience-section {
    background-color: black;
    padding: 9rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    text-align: center;
}

.timeline {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.timeline-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 20px;
  flex-shrink: 0;
}

.timeline-dot.red {
  background-color: #ff4d4d;
}

.timeline-dot.green {
  background-color: #4caf50;
  box-shadow: 0 0 10px #4caf50, 0 0 20px #4caf50;
}

.timeline-content {
  background-color: #1c1c1c;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  flex-grow: 1;
  text-align: left;
}

.timeline-content h3 {
  font-size: 2rem;
  color: #fdd835;
  margin: 0;
}

.timeline-content p {
  font-size: 1.4rem;
  color: #ccc;
  margin-top: 5px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 8px;
  width: 2px;
  height: 100%;
  background-color: #555;
}

.project-section {
  padding: 9rem 10%;
  background-color: #000;
  color: white;
  text-align: center;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
  gap: 1.5rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
}

/* Make it responsive on small screens */
@media (max-width: 992px) {
  .project-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .project-gallery {
    grid-template-columns: 1fr;
  }
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background-color: #111;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 12px rgba(255, 255, 0, 0.08);
  text-decoration: none;
  color: inherit;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 14px rgba(255, 255, 0, 0.25);
}

.project-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.9);
  transition: filter 0.3s ease;
}

.project-card:hover .project-img {
  filter: blur(3px) brightness(0.5);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  text-align: left;
}

.project-card:hover .overlay {
  transform: translateY(0%);
}

.project-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #f7e600;
  margin-bottom: 0.5rem;
}

.project-desc {
  font-size: 1.25rem;
  color: #eee;
  line-height: 1.4;
}


.contact-section {
    background-color: black;
    padding: 5rem 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    text-align: center;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  width: 100%;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: space-between;
}

/* Contact Info */
.contact-left {
  flex: 1;
  min-width: 300px;
}

.contact-left h2 {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.contact-left h3 {
  font-size: 2rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.contact-left i {
  margin-right: 10px;
  color: #f5f5f5;
}

.contact-info p {
  font-size: 2rem;
  margin: 1rem 0;
  color: #fff;
  display: flex;
  align-items: center;
}

/* Contact Form */
.contact-form {
  flex: 1;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: 2px solid #FFD700; /* yellow border */
  background: transparent;
  color: #fff;
  border-radius: 10px;
  outline: none;
}

.contact-form textarea {
  resize: vertical;
  min-height: 150px;
}

/* Button */
.contact-form button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #e9da0d;
    font-weight: 600;
    border: 2px solid #e9da0d;
    transition: 0.3s ease;
    cursor: pointer;
}

.contact-form button:hover {
    transform: scale3d(1.03);
    background-color: #e9da0d;
    color: black;
    box-shadow: 0 0 25px #e9da0d;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .project-card {
    width: 90%;
    margin: auto;
  }

  .project-gallery {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .contact-form {
    flex-direction: column;
  }

  .experience-timeline {
    padding: 1rem;
  }

  h1.section-title {
    font-size: 1.8rem;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #fdd835;
  color: #000;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  font-size: medium;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}

